<div class="container">

  <h4>Se nos últimos 2 anos você teve um voo cancelado, atraso de voo,conexão perdida ou overbooking, você pode ser indenizado sem precisar se preocupar, basta apenas informar o caso e esperar o dinheiro cair na sua conta.<h4>

  <h4>EXIJA SUA INDENIZAÇÃO!<h4>	
	<br />

  <h4>Cadastre-se e apontaremos imediatamente o profissional ideal para o seu caso!<h4>

	

   <h1></h1>

  <%= render 'form', client: @client %>

  <%= link_to 'Voltar', clients_path %>

</div>
